// COLOR

$primary-color: rgb(255, 107, 8);
$light-dark-color: rgb(24, 25, 29);
$gray-color: rgb(185, 185, 185);
$second-gray-color: rgb(133, 133, 133);
$white-color: rgb(255, 255, 255);
$dark-bg-color: rgb(17, 21, 23);

$shadow-color: rgba(29, 29, 27, 0.11);
$shadow-secondary-color: rgba(29, 29, 27, 0.09);

$bg-quarantees-color: rgb(241, 241, 241);
$text-footer-color: rgba(253, 254, 254, 0.42);