.footer {
    &__text {
        font-size: 11px;
        margin: 0;
        @extend %montserrat-medium;
        color: $text-footer-color;
        @media (max-width: 767px) {
            text-align: center;
        }
        @media (min-width: 1280px) {
            font-size: 15px;
        }
    }
    &__bg {
        padding: 28px 0;
        background-color: $dark-bg-color;
    }
}